/Semana01/Demo01/target/
/Semana02_31MAR26/Work/target/
/Semana02_31MAR26/Demo01/target/
/Semana02_31MAR26/PromedioApp/target/
/Semana01_30MAR26/Demo01/target/
/Semana04_13ABR26/AprendiendoJava/target/
/Semana04_13ABR26/GestionContactos/target/
/Semana07_04MAY26/Semana07/target/
/Semana08_11MAY26/EducaApp/target/
/Semana11_01JUN26/Semana11/target/
